layout strat*/
.header, .hero, .body, .bar, .footer{
	margin-bottom: 10px;
	background-color: lightseagreen;
}
.box{
	margin: 15px 0;
	min-height: 100px;
	background-color: brown;
	font-size: 30px;
	color: white;
	border: 1px solid black;
}
.lime{
	background-color: lime;
}
.blue{
	background-color: blue;
}
.design1{
	background-color: #ba1cba;
}
.design2{
	background-color: #149914;
}
/*layout end*/
/*signup start*/
h1{
	font-size: 50px;
	color: #0051af;
	text-transform: uppercase;
}
/*signup end*/
/*components start*/
h2{
	color: red;
}
/*components end*/